extends layout
block content
    .row
     h1.hmtit Leave a Review
     .formHold
       h2.hmtit Add the product review
       form(method="post")
        fieldset
         label(for="name") Product Name:
         input(name="name", type="text", placeholder='Product Name')
         label(for="content") Add review:
         input(name="content", type="text", placeholder='Product Price')
         button.button1(type="submit") Add Review