extends layout
block content
    .row
     .formHold
       h1.hmtit Upload Your New Product!!
       h2.hmtit Enter Product Details Below
       form(method="post")
        fieldset
         label(for="name") Product Name:
         input(name="name", type="text", placeholder='Product Name')
         label(for="price") Product Price:
         input(name="price", type="text", placeholder='Product Price')
         label(for="image") Product Image:
         input(name="image", type="text", placeholder='Product Image')
         label(for="category") Product Category:
         input(name="category", type="text", placeholder='Product Category')
         button.button1(type="submit") Create Product