extends layout
block content
    .row
     h1 Edit Product
     .formHold
       h1.itmetitle Edit the product form
       each row in res1
        form(method="post")
         fieldset
          label(for="newname") Product Name:
          input(name="newname", type="text", value="#{row.Name}")
          label(for="newprice") Product Price:
          input(name="newprice", type="text", value="#{row.Price}")
          label(for="newimage") Product Image:
          input(name="newimage", type="text", value="#{row.Image}")
          label(for="newcategory") Product Category:
          input(name="newcategory", type="text", value="#{row.Category}")
          button.button(type="submit") Update Product