extends layout
block content
    .row
      h1.hmtit SURF CATEGORIES
      .grid-container
       .rght
         h1.hmtit Surfing1
       .rghtbttm
         h1 Surfing1
       .lft
         h1 Surfing1
       .lstbttm
         h1 Surfing1
       .mddl
         h1 Surfing1
       .mddlbtm
         h1 Surfing1
   