extends layout
block content
    .row
      .holder
        .large
          h1 Surfing
          h2 Accessories
        .normal
          h1 Surfing
          h2 Accessories
        .normal2
          h1 Surfing
          h2 Accessories
   